@import "utils.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

li{
    cursor: pointer;
}
/* navbar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.logo{
    width: 221.92px;
    height: 40px;
}


* {
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 8px; 
    background-color: #EDEDED;
    border-radius: 999px;
    padding: 4px; 
    color: #011F11;
    font-size: 16px;
    height: 46px; 
    
}

.nav-item {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.3s ease; 
}

.nav-item:hover {
    background-color: #cccccc;
}

.nav-item.active {
    background-color: #000000;
    color: #FFFFFF;
}
.nav-toggle{
    display: none;
    /* margin: 0 auto; */

}
.nav-toggle span {
    display: block;
    background-color: black;
    width: 25px; 
    height: 3px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.nav-toggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.open span:nth-child(2) {
    opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.nav-btn{
    width: 129px;
    height: 44px;
    background-color: #011F11;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
    cursor: pointer;
}

.nav-btn:hover {
    opacity: 0.8;
}


/* hero */
.hero{
    margin-top: 100px;
    margin-bottom: 140px;
}
.hero-title{
font-weight: 500;
font-style: Medium;
font-size: 128px;
line-height: 85%;
letter-spacing: -6%;

}
.hero-sub{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 48px;
}
.hero-sub h3{
font-weight: 500;
font-style: Medium;
font-size: 28px;
line-height: 140%;
letter-spacing: -3%;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;

}
.hero-img img{
    width: 100%;
}
.hero-sub h3 img{
    width: 21px;
    height: 20px;
}




/* tools */

.tools{
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 80px;
}
.tools-title{
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}

.big-box-container{
    display: grid;
    grid-template-columns: repeat(2, 624px 592px);
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.big-box{
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 178px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}
.box-desc{
font-weight: 400;
font-size: 24px;
color: #000000;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
max-width: 460px;

}
.more{
    display: grid;
    align-content: space-between;
    justify-items: flex-end;
}
.more img{
    width: 40px;
}
.more-about{
        text-align: right;
        color: #24806F;
        font-family: Poppins;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}

.small-box-container{
        display: grid;
     grid-template-columns: repeat(3, 284px 284px 624px);
     gap: 24px;
}
.black-box{
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 18px 13px;
    border-radius: 16px;
    height: 178px;
    display: grid;
    align-content: space-between;

}
.black-box img{
    justify-self: right;
}
.black-box-text{
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}
.small-box-img img{
    width: 284px;
    border-radius: 16px;
    height: 178px;
    
}



/* project */

.project{
    margin-top: 140px;
    margin-bottom: 140px;
}
.project-grid{
    display: grid;
    gap: 32px;
}
.project-title{
font-weight: 400;
font-size: 48px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
text-align: center;
color: #FFFFFF;
background-color: #24806F;
border-radius: 28px;
border-bottom-left-radius: 0px;
max-width: 536px;
padding: 20px 38px;
justify-self: center;
height: 107px;
margin-bottom: 48px;

}
.number-title{
    display: flex;
    gap: 24px;
    align-items: center;
     transition: all 0.3s ease ;
}
.project-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 44px;
    border-bottom: 2px solid #A4A4A4;
     position: relative;
  /* overflow: hidden; */
  cursor: pointer;
 

}
.project-container:hover .project-name{
    color: #24806F;
    
}
.project-container:hover .number-title{
    padding-left: 40px;
    
}
/* .project-container:hover .project-img{
    opacity: 1;
} */
.project-no{
font-weight: 400;
font-size: 24px;
line-height: 17px;
letter-spacing: 0%;
vertical-align: middle;
color: #24806F;
padding: 18px 20px;
border: 1.5px solid #24806F;
border-radius: 100px;
}
.project-name{
font-weight: 400;
font-size: 64px;
line-height: 71%;
letter-spacing: 0%;
vertical-align: middle;
color: #A4A4A4;
 transition: all 0.3s ease ;
}
.project-img{
    width: 298px;
height: 171px;
border-radius: 20px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(19.21deg);
    border-radius: 20px;
    display: none;
}

.podcast{
    display: flex;
    align-items: center;
    gap: 12px;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
color: #A4A4A4;
}
.podcast img{
    width: 33px;
    vertical-align: middle;
}


        /* customer */

.customer{
    background-color: #F5F5F5;
}
.customer-container{
    display: grid;
    gap: 49px;
    grid-template-columns: repeat(2, 578px 614px);
    padding-top: 80px;
    padding-bottom: 80px;
}
.left{
    display: grid;
    gap: 24px;
    width: 578px;
}
.customer-title{
font-weight: 500;
font-style: Medium;
font-size: 64px;
line-height: 140%;
letter-spacing: 0px;
}
.customer-subtitle{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #707070;
}
.left-text{
    display: grid;
    gap: 12px;
}
.left-box{
    display: grid;
    gap: 52px;
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
    border-radius: 40px;
    padding-left:25px ;
    padding-right:25px ;
    padding-bottom: 28px;
    max-height: 436px;
}
.left-box::before{
     content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/box-bg.jpg') no-repeat center/cover;
  opacity: 30%;
  z-index: -1;
  border-radius: 40px;
}
.left-box-title{
font-weight: 600;
font-size: 22px;
line-height: 140%;
letter-spacing: 0px;
margin-bottom: 4px;
}
.left-box-para{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
color: #A4A4A4;
}
.left-box-img{
    position: relative;
    height: 210px;
}
.box-img-1{
    position: absolute;
}
.box-img-2{
    position: absolute;
    left: 25%;
    top: 60px;
}
.box-img-3{
    position: absolute;
    left: 55%;
    bottom: 20px;
}
.box-img-4{
    position: absolute;
    left: 70%;
    top: 80px;
}
.right{
    display: grid;
    grid-template-columns: repeat(2, 317px 281px);
    gap: 16px;
}
.right-group-1 , .right-group-2{
    display: grid;
    gap: 16px;
}
.right-box-1{
    background: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 20px;
    
    padding: 24px;
}
.cicrle{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.profile-1{
    width: 200px;
    justify-self: right;
}
.name{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-self: right;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
width: 100%;
margin-bottom: 10px;
}
.password{
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
background-color: #24806F;
width: 100%;
height: 53px;
justify-self: right;
border-radius: 5.47px;
display: flex;
align-items: center;
justify-content: center;
}
.profile-2{
    display: grid;
    gap: 8px;
}
.name-2{
    display: flex;
    align-items: center;
    gap: 12px;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;

}
.profile-2-box{
    padding: 18px;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
color: #606060;
background-color: #FFFFFF;
border-radius: 5.47px;
}
.right-box-1{
    display: grid;
    gap: 20px;
}
.right-box-1-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;

}
.right-box-1-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #606060;
}
.right-box-1-text{
    display: grid;
    gap: 4px;
}
.right-box-2{
    background: #000000;
    color: #FFFFFF;
    padding: 23px;
    border-radius: 20px;
    display: grid;
    gap: 12px;
}
.right-box-2-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-2-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-2-text{
    display: grid;
    gap: 4px;
}
.right-box-2-img{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-self: center;
}
.right-box-3{
    background: #ACEBDF;
    border-radius: 20px;
    display: grid;
    gap: 64px;
    padding: 20px;
    height: 432px;
}
.right-box-3-text{
    display: grid;
    gap: 4px;
    height: fit-content;
}
.right-box-3-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;
height: max-content;
}
.right-box-3-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
height: max-content;
}
.right-box-3-img {
    display: inline-block;
    position: relative;
}
.right-box-3-img img {
  display: block;
  width: 100%;
  height: auto;
}

.right-box-3-img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 62.81%,
    #ACEBDF 100%
  );

  pointer-events: none;
}
.right-box-4{
    background-color: #24806F;
    border-radius: 20px;
    padding: 24px;
    color: #FFFFFF;
    display: grid;
    gap: 16px;
    justify-items: center;
    position: relative;
}
.percent-circle::after{
    content: "";
    border: 15px white solid;
    border-radius: 50%;
    width: 192px;
    height: 192px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

     mask: conic-gradient(
        from 5deg,
        #24806f5e 0% 12%,
        rgb(0, 0, 0) 12% 100%
    );
    position: relative;
    
 
}
.percent, .percent-sub{
 position: absolute;
}
.percent{
    font-family: "IBM Plex Sans", sans-serif;
font-weight: 700;
font-size: 41.92px;
line-height: 100%;
letter-spacing: -1%;
text-align: center;
vertical-align: middle;
justify-self: center;
top: 80px;

}

.percent-sub{
    text-align: center;
   font-family: "IBM Plex Sans", sans-serif;
font-weight: 700;
font-size: 12.33px;
line-height: 19.73px;
letter-spacing: 1.85px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
top: 125px;
right: 80px;
}
.right-box-4-text{
    display: grid;
    gap: 4px;
}
.right-box-4-title{
font-weight: 600;
font-size: 20px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-4-para{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;

}
.customer-title span{
  background: #AEEDE3;
  padding: 0.1em ;
  border-radius: 20px;

  -webkit-box-decoration-break:clone;
  box-decoration-break:clone;
}
.customer-title img{
    vertical-align: bottom;
}


           /* creative */

.creative{
    margin-top: 140px;
    margin-bottom: 140px;
}
.creative-title{
font-weight: 500;
font-style: Medium;
font-size: 48px;
line-height: 140%;
letter-spacing: -2%;
text-align: center;
vertical-align: middle;
max-width: 832px;
text-align: center;
justify-self: center;
    margin-bottom: 11px;
}
.creative-container{
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.creative-mind{
    width: 392px;
}
.creative-text{
    background-color: #24806F;
    border-radius: 20px;
    padding:  24px;
    /* padding-top: 16px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #FFFFFF;

    display: grid;
    gap: 16px;
}
.man-title{
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}
.man-desc{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 1%;
vertical-align: middle;
}
.details{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 1%;
text-align: center;
vertical-align: middle;
border: 1px solid #FFFFFF;
border-radius: 100px;
padding: 12px;
cursor: pointer;
}

.details:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.man-img{
position: relative;
top: 20px;

}

/* template */
.template{
    margin-top: 140px;
    margin-bottom: 140px;
}
.template-container{
    display: flex;
    gap: 16px;
}
.template-title{
font-weight: 500;
font-style: Medium;
font-size: 64px;
line-height: 140%;
letter-spacing: 0px;
height: fit-content;
    width: 515px;
}
.template-title span{
    background: #AEEDE3;
  padding: 0.1em ;
  border-radius: 20px;
}
.temp-left{
    display: grid;
    gap: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
    height: fit-content;
}
.tags{
    display: grid;
    gap: 16px;
}
.tags-top, .tags-bottom{
    display: flex;
    gap: 16px;
}
.tag{
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
border: 1px solid #1D1D21;
border-radius: 100px;
padding: 12px 24px;
width: max-content;
}
.clipped-box-1{
    background: url(images/template-img-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clipped-box-2{
   background: url(images/template-img-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clipped-box-3{
   background-color: #ACEBDF;
}
/* .temp-right{
    display: flex;
    gap: 16px;
} */
.temp-card{
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    gap: 16px;
    width: 344px;
    height: fit-content;
}
.temp-box{
    padding-left:20px ;
    padding-right: 20px;
    border-radius: 20px;
    height: 300px;
    padding-top: 54px;
  clip-path: polygon(
    0 11%,
    11% 11%,
    11% 0,
    89% 0,
    100% 0,
    100% 12%,
    100% 92%,
    76% 92%,
    76% 100%,
    13% 100%,
    0 100%,
    0 94%
  );
    border-top-left-radius: 16px;
}
.svg-filter-wrapper {
  filter: url("#gooey");
}

.white-chat{
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
background-color:#FFFFFF ;
box-shadow: 0px 1.72px 6.89px 0px #232F3517;
padding: 16px;
border-radius: 5.17px;

display: grid;
    gap: 8px;
}
.green-chat{
    background-color: #24806F;
    margin-top: 16px;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
padding: 16px;
border-radius: 5.17px;
margin-bottom: 54px;
}
.temp-name{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;
margin-bottom: 4px;
    margin-top: 16px;
}
.temp-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #606060;
margin-bottom: 16px;
}
.temp-btn{
    font-family: "Inter", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 16px;
text-align: center;
padding: 12px;
line-height: 150%;
letter-spacing: 0px;
color: #FFFFFF;
background-color: #000000;
border-radius: 100px;
display: flex;
gap: 10px;
align-items: center;
justify-content: center;
cursor: pointer;
}

.temp-btn:hover {
    background-color: #333;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  height: 470px;
  width: 344px !important;
}


/* completed project */

.completed-project-bg {
  background-color: #443747;
  transition: background-color 0.5s ease;
}

.completed-project-section {
  /* max-width: 1340px; */
  margin: 0 auto;
  padding-right: 100px;
  height: 810px;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  right: 100px;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
}

.line1 { right: 370px; }
.line2 { right: 640px; }

.completed-circle-wrapper {
  display: flex;
  gap: 17px;
  margin-top: 87px;
}

.semi-circle-down {
  position: absolute;
  display: none;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  left: -260px;
  top: 50%;
  transform: translateY(-50%);
  --fill: 150deg;
  background: conic-gradient(
    from 270deg,
    #ffffff 0deg,
    #ffffff var(--fill),
    transparent var(--fill),
    transparent 360deg
  );
  transition: all 0.5s ease-in-out;
  mask: radial-gradient(circle, transparent 63.4%, #000 64.3%, #000 65.8%, transparent 66.6%);
  -webkit-mask: radial-gradient(circle, transparent 63.4%, #000 64.3%, #000 65.8%, transparent 66.6%);
}

.circle-img {
  display: none;
}

.fruit-list {
  position: absolute;
  gap: 16px;
  padding-right: 30px;
  top: 42%;
    left: 137px;
}

.fruit-list li {
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  list-style: none;
  
}

.fruit-list li.active {
  font-weight: 700;
  
}

.fruits {
  margin-top: 119px;
  transition: transform 1500ms cubic-bezier(0.96, 0.01, 0.02, 0.99);
}

.slider {
  width: 270px;
  height: 340px; 
}

.fruit-img {
  width: 270px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.completed-text{

color: #FFFFFF;
}
.completed-title{
font-weight: 700;
font-size: 42px;
line-height: 140%;
letter-spacing: 0%;
width: max-content;
}
.completed-para{
    max-width: 326px;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
text-align: justify;
}
.arrow-btn{
    align-self: flex-end;
    padding-bottom: 30px;
    cursor: pointer;
}
.completed-fruit-number{
    font-family: "Inter", sans-serif;
font-weight: 600;
font-size: 70px;
line-height: 100%;
letter-spacing: 0%;
text-align: justify;
color: #FFFFFF;
}
.completed-fruit-name{
    color: #FFFFFF;
font-weight: 600;
font-size: 17px;
line-height: 140%;
letter-spacing: 0%;
text-align: justify;
}
.slider-2, .slider-4, .slider-6{
    position: relative;
    right: 270px;
}


/* control */

.control{
    margin-top: 140px;
    margin-bottom: 80px;
}
.control-brand{
    background-color: #24806F;
    display: grid;
    gap: 44px;
    padding: 76px 32px 93px 32px;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 91% 86%, 91% 100%, 15% 100%, 15% 89%, 0 89%);
    background-image: url(images/control-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}
.control-title{
font-weight: 500;
font-size: 64px;
line-height: 140%;
letter-spacing: 0px;
color: #FFFFFF;
}
.control-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #FFFFFF;
max-width: 460px;
}
.control-details{
 display: flex;
    justify-content: space-between;
}
.control-btn-container{
    display: flex;
    gap: 16px;
    align-items: center;
}
.contact-now{
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #24806F;
background-color: #FFFFFF;
padding: 10px 16px 10px 8px;
display: flex;
align-items: center;
gap: 10px;
border-radius: 100px;
cursor: pointer;
}

.contact-now:hover {
    background-color: #f0f0f0;
}
.contact-us{
font-weight: 500;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 100px;
padding: 15px 32px;
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}

.contact-us:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-now img{
    width: 32px;
}
.contact-us img{
    width: 18px;
}


       /* footer */
  
footer{
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    max-width: 356px;
}
.footer-para{
    margin-top: 24px;
    margin-bottom: 48px;
font-weight: 400;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
}
.footer-right ul{
    list-style: none;
    display: grid;
    gap: 12px;
}
.footer-right ul li{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
}
.footer-right{
    display: flex;
    gap: 170px;
}
.marketing-title{
    margin-top: 60px;
    margin-bottom:20px ;
font-weight: 500;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
}
.quick-tag, .q-link{
 margin-bottom: 20px;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
}
.footer-bottom{
    margin-top: 100px;
}
.location-box{
    background-color: #24806F;
    border-radius: 24px;
    clip-path: polygon(0% 0%, 100% 0, 100% 89%, 94% 100%, 0% 100%);
    padding: 59px 36px;
    display: flex;
    margin-bottom: 48px;
    gap: 86px;
}
.webermelon{
    position: relative;
    bottom: -33px;
}
.location{
    display: grid;
    gap: 20px;
    
}
.location-title{
font-weight: 500;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
}
.location-para{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0%;
}
.copyright{
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
}
.f-bottom-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    gap: 20px;
    align-items: center;
}
.socials img{
    width: 48px;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
.socials img:hover{
      transform: scale(0.9);
}













/* responsive */

@media (max-width:1260px){
    .nav-bar, .container{
        padding-left: 10px;
        padding-right: 10px;
    }
     .tools-title{
        text-align: center;
    }
    .template-title{
        width: 100%;
        font-size: 48px;
        text-align: center;
    }
    .template-container{
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
    }
    .temp-left{
        align-items: center;
        justify-items: center;
    }
    .tags{
        justify-items: center;
    }
    .tags-top, .tags-bottom{
        justify-content: center;
    }
    .temp-right{
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
 .big-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .small-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }
  .big-box-img,.small-box-img, .big-box, .black-box, .small-box-img img, .big-box-img img{
    width: 100%;
 }
.customer-container{
       grid-template-columns: repeat(1, 100%);
       justify-self: center;
       
    }
    .left, .right{
        width: 100%;
    }
    .right{
        grid-template-columns: repeat(1, 100%);
    }
    .right-box-2, .right-box-3, .right-box-4{
        display: flex;
    gap: 12px;
    justify-content: space-between;
    }
    .percent-sub{
        top: 128px;
    right: 52px;
    }
    .percent-circle{
        position: relative;
    }
    .webermelon{
    
        width: 100%;
    }
    .completed-project-section {
        padding-right: 50px;
        height: 700px;
    }
    .line {
        right: 50px;
    }
    .line1 { right: 320px; }
    .line2 { right: 550px; }
    .semi-circle-down {
        width: 350px;
        height: 350px;
        left: -220px;
    }
    .fruit-list {
        left: 120px;
    }
    .slider {
        width: 240px;
        height: 300px;
    }
    .fruit-img {
        width: 240px;
        height: 220px;
    }
    .completed-title {
        font-size: 36px;
    }
    .completed-fruit-number {
        font-size: 60px;
    }
    .slider-2, .slider-4, .slider-6 {
        right: 240px;
    }
}

@media (max-width:1000px) {
    
    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top:95px; 
        left: 85%;
        transform: translateX(-50%);
        width: 30%;
        height: auto;
        padding: 20px;
        gap: 20px;
        border-radius: 8px;
        align-items: flex-start;
    }
    .nav-menu.show {
        display: flex;
        z-index: 100;
    }
    .nav-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
    }
    .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .hero-title{
        font-size: 88px;
    }
    .project-title{
        font-size: 38px;
        width: 450px;
    }
    .project-no{
        font-size: 16px;
    }
    .project-name{
        font-size: 38px;
    }
    .podcast{
        font-size: 16px;
    }
    .podcast img{
        width: 24px;
    }
    .template{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .template-title{
        font-size: 40px;
    }
    .tags-top, .tags-bottom{
        flex-wrap: wrap;
    }
    .control-title{
        font-size: 32px;
    }
    .control-para, .contact-now, .contact-us{
        font-size: 14px;
        padding: 8px;
    }
      .control-para{
        max-width: 300px;
      }
      .footer-top{
        flex-direction: column;
        justify-content: center;
        justify-self: center;
        gap: 20px;
      }
    .completed-project-section {
        padding-right: 30px;
        height: 600px;
    }
    .line {
        right: 30px;
    }
    .line1 { right: 250px; }
    .line2 { right: 450px; }
    .semi-circle-down {
        width: 300px;
        height: 300px;
        left: -180px;
    }
    .fruit-list {
        left: 100px;
    }
    .slider {
        width: 200px;
        height: 250px;
    }
    .fruit-img {
        width: 200px;
        height: 180px;
    }
    .completed-title {
        font-size: 32px;
    }
    .completed-fruit-number {
        font-size: 50px;
    }
    .slider-2, .slider-4, .slider-6 {
        right: 200px;
    }
}

@media (max-width:776px) {
    .project-img{
        display: none;
        opacity: 0;
    }
    .creative{
    margin-top: 20px;
    margin-bottom: 20px;
}
.creative-container{
    gap: 5px;
}
.template{
    margin-top: 40px;
    margin-bottom: 40px;
}
.template-title{
    font-size: 36px;
    width: 100%;
}
.temp-left{
    gap: 32px;
}
.swiper-slide {
  height: 420px;
  width: 300px !important;
}
.control-details{
    flex-direction: column;
    justify-self: center;
}
.contact-now img{
    width: 18px;
}
.contact-us img{
    width: 14px;
}
.footer-right{
    gap: 15px;
}
.footer-bottom{
    margin-top: 20px;
}
.location-box {
    margin-bottom: 20px;
    gap: 15px;
}
.location-title{
    font-size: 18px;
}
.location-para, .copyright{
    font-size: 12px;
}
.socials img{
  width: 24px;
}
footer{
    padding-bottom: 20px;
}
    .completed-project-section {
        padding-right: 20px;
        height: 500px;
    }
    .line {
        right: 20px;
    }
    .line1 { right: 180px; }
    .line2 { right: 320px; }
    .semi-circle-down {
        width: 250px;
        height: 250px;
        left: -140px;
    }
    .fruit-list {
        left: 80px;
    }
    .slider {
        width: 160px;
        height: 200px;
    }
    .fruit-img {
        width: 160px;
        height: 140px;
    }
    .completed-title {
        font-size: 28px;
    }
    .completed-fruit-number {
        font-size: 40px;
    }
    .slider-2, .slider-4, .slider-6 {
        right: 160px;
    }
}

@media (max-width:576px) {
   .nav-bar{
    margin-top: 10px;
   }
    .nav-menu{
        font-size: 14px;
        padding: 10px;
        min-width: 100px;
        top: 55px;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        width: 150px;
    }
    .nav-btn{
           display: none;
    }
     .hero-title{
        font-size: 40px;
     }
     .hero-sub{
         margin-top: 16px;
    margin-bottom: 24px;
     }
     .hero-sub h3{
        font-size: 24px;
     }
    
     .tools-title{
        font-size: 28px;
     }
     .tools p{
        font-size: 16px;
     }

     .project-title{
        font-size: 28px;
        padding: 15px;
        margin-bottom: 20px;
        width: max-content;
        height: max-content;
     }
     .project-container{
        padding-top: 15px;
        padding-bottom: 20px;
     }
     .project-name{
        font-size: 24px;
     }
     .project-no, .podcast{
        font-size: 14px;
     }
     .customer-container{
        padding-top: 20px;
    padding-bottom: 20px;

     }
     .customer-title{
        font-size: 28px;
        text-align: center;
     }
     .customer-title img{
        width: 90px;
     }
     .customer-subtitle{
        font-size: 16px;
        text-align: center;
     }
     .left-box img{
        width: 100px;
        display: flex;

     }
     .right-box-2-img img{
        width: 100%;
     }
     .right-box-2, .right-box-3, .right-box-4{
        flex-direction: column;
     }
     .left-box{
        gap: 4px;
     }
     .left-box-title{
        font-size: 20px;
     }
     .left-box-para{
        font-size: 13px;
     }
     .box-img-2{
        left: 15%;
    top: 65px;
}
     
     .box-img-3{
        left: 47%;
     }
     .right-box-1-title, .right-box-2-title, .right-box-3-title, .right-box-4-title {
        font-size: 20px;
     }
     .right-box-1-para, .right-box-2-para, .right-box-3-para, .right-box-4-para{
            font-size: 13px;
     }
     .percent{    left: 10%;
}
.percent-sub{
    right: 62%;
}
.creative-title{
    font-size: 32px;
}
.man-title{
    font-size: 20px;
}
.man-desc, .details{
    font-size: 14px;
}
.template-title{
    font-size: 28px;
}
.tags{
    gap: 12px;
}
.tags-top, .tags-bottom{
    gap: 8px;
}
.tag{
    font-size: 14px;
    padding: 10px 16px;
}
.temp-card{
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}
.swiper-slide {
  height: 380px;
  width: 100% !important;
}
.control-brand{
    gap: 15px;
}
.control-title{
    text-align: center;
    font-size: 28px;
}
.contact-now, .contact-us{
    padding: 4px;
    font-size: 12px;
}
.control-btn-container{
    justify-self: center;
}
.webermelon{
        bottom: -20px;
}
.q-link, .quick-tag, .marketing-title{
    font-size: 18px;
    margin-top: 30px;
}
.marketing-logo{
    width: 100%;
}
.footer-right ul li{
    font-size: 12px;
}
     .completed-para{
        display: none;
     }
     .fruit-list{
        padding-top: 0;
     }
}

@media (max-width:450px) {
    .project-grid{
        gap: 8px;
    }
    .project-container{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .project-title{
        font-size: 22px;
    }
    .project-name{
        font-size: 20px;
    }
    .number-title{
        gap: 12px;
    }
    .project-no{
      font-size: 12px;
      padding: 10px;
    }
    .podcast{
        font-size: 12px;
    }
    .podcast img{
        width: 16px;
    }
    .percent-sub{
   right: 55%;
}

.creative-mind, .man-img {
    width: 100%;
}
.template{
    margin-top: 20px;
    margin-bottom: 20px;
}
.template-title{
    font-size: 24px;
}
.temp-left{
    gap: 24px;
}
.temp-name{
    font-size: 20px;
}
.temp-para{
    font-size: 14px;
}
.white-chat, .green-chat{
    font-size: 11px;
    padding: 12px;
}
.webermelon{
    bottom: -14px;
}
.location-box {
    flex-wrap: wrap;
}
.f-bottom-links{
    gap: 10px;
}

.fruit-img{
    width: 100px;
        height: auto;
}
.completed-fruit-number{
    font-size: 20px;
}
.completed-fruit-name{
    font-size: 16px;
}
.line{
    display: none;
}
}


@media (max-width:375px) {
     .percent-sub{
   right: 37%;
}
.percent{
            left: 20%;
}
}

@media (max-width:480px) {
.template-container{
    padding: 0 10px;
}
.template-title{
    font-size: 22px;
}
.temp-left{
    gap: 16px;
}
.tag{
    font-size: 12px;
    padding: 8px 12px;
}
.swiper-slide {
  height: 340px;
}
.temp-box{
    height: 260px;
    padding-top: 40px;
}
}
@media (min-width: 1200px) {
    .semi-circle-down,
    .circle-img {
        display: block;
    }
}

@media (max-width:1745px) {
  .arrow-btn{  
    position: relative;
    right: 15%;
}
.completed-circle-wrapper {
    gap: 8px;
    margin-top: 20px;
}
.fruit-list{
    padding-top: 0;
}
.completed-fruit-name{
    width: min-content;
}
.fruits {
    position: relative;
    right: 18px;
    margin-top: 80px;}
}
@media (max-width:820px) {
  .arrow-btn{  
    position: relative;
    right: 25%;
}
.completed-title{
    font-size: 20px;
    padding-bottom: 10px;
}
.fruit-list li{
    font-size: 12px;
    
}
.fruit-list{
    padding-top:35px ;
}
.slider-1, .slider-2, .slider-3, .slider-4, .slider-5, .slider-6{
    position:static;
    margin-top: 15px;
    
}
.line2{
    display: none;
}
.project, .control {
    margin-top: 40px;
    margin-bottom: 40px;
}
}