@import "utils.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* navbar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.logo{
    width: 221.92px;
    height: 40px;
}


* {
    box-sizing: border-box;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 8px; 
    background-color: #EDEDED;
    border-radius: 999px;
    padding: 4px; 
    color: #011F11;
    font-size: 16px;
    height: 46px; 
    
}

.nav-item {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 999px;
    transition: all 0.3s ease; 
}

.nav-item.active {
    background-color: #000000;
    color: #FFFFFF;
}
.nav-toggle{
    display: none;
    /* margin: 0 auto; */

}
.nav-toggle span {
    display: block;
    background-color: black;
    width: 25px; 
    height: 3px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.nav-btn{
    width: 129px;
    height: 44px;
    background-color: #011F11;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
}


/* hero */
.hero{
    margin-top: 100px;
    margin-bottom: 140px;
}
.hero-title{
font-weight: 500;
font-style: Medium;
font-size: 128px;
line-height: 85%;
letter-spacing: -6%;

}
.hero-sub{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 48px;
}
.hero-sub h3{
font-weight: 500;
font-style: Medium;
font-size: 28px;
line-height: 140%;
letter-spacing: -3%;
display: flex;
align-items: center;
justify-content: center;
gap: 12px;

}
.hero-img img{
    width: 100%;
}
.hero-sub h3 img{
    width: 21px;
    height: 20px;
}




/* tools */

.tools{
    background-color: #000000;
    padding-top: 80px;
    padding-bottom: 80px;
}
.tools-title{
font-weight: 400;
font-size: 48px;
color: #FFFFFF;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}

.big-box-container{
    display: grid;
    grid-template-columns: repeat(2, 624px 592px);
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.big-box{
    background-color: #FFFFFF;
    border-radius: 16px;
    height: 178px;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
}
.box-desc{
font-weight: 400;
font-size: 24px;
color: #000000;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
max-width: 460px;

}
.more{
    display: grid;
    align-content: space-between;
    justify-items: flex-end;
}
.more img{
    width: 40px;
}
.more-about{
        text-align: right;
        color: #24806F;
        font-family: Poppins;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}

.small-box-container{
        display: grid;
     grid-template-columns: repeat(3, 284px 284px 624px);
     gap: 24px;
}
.black-box{
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 18px 13px;
    border-radius: 16px;
    height: 178px;
    display: grid;
    align-content: space-between;

}
.black-box img{
    justify-self: right;
}
.black-box-text{
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}
.small-box-img img{
    width: 284px;
    border-radius: 16px;
    height: 178px;
    
}



/* project */

.project{
    margin-top: 140px;
    margin-bottom: 140px;
}
.project-grid{
    display: grid;
    gap: 32px;
}
.project-title{
font-weight: 400;
font-size: 48px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
text-align: center;
color: #FFFFFF;
background-color: #24806F;
border-radius: 28px;
border-bottom-left-radius: 0px;
max-width: 536px;
padding: 20px 38px;
justify-self: center;
height: 107px;
margin-bottom: 48px;

}
.number-title{
    display: flex;
    gap: 24px;
    align-items: center;
     transition: all 0.3s ease ;
}
.project-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 44px;
    border-bottom: 2px solid #A4A4A4;
     position: relative;
  /* overflow: hidden; */
  cursor: pointer;
 

}
.project-container:hover .project-name{
    color: #24806F;
    
}
.project-container:hover .number-title{
    padding-left: 40px;
    
}
/* .project-container:hover .project-img{
    opacity: 1;
} */
.project-no{
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
color: #24806F;
padding: 18px 20px;
border: 1.5px solid #24806F;
border-radius: 100px;
}
.project-name{
font-weight: 400;
font-size: 64px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
color: #A4A4A4;
 transition: all 0.3s ease ;
}
.project-img{
    width: 298px;
height: 171px;
border-radius: 20px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%) rotate(19.21deg);
    border-radius: 20px;
    display: none;
}

.podcast{
    display: flex;
    align-items: center;
    gap: 12px;
font-weight: 400;
font-size: 20px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;
color: #A4A4A4;
}
.podcast img{
    width: 33px;
    vertical-align: middle;
}


        /* customer */

.customer{
    background-color: #F5F5F5;
}
.customer-container{
    display: grid;
    gap: 49px;
    grid-template-columns: repeat(2, 578px 614px);
    padding-top: 80px;
    padding-bottom: 80px;
}
.left{
    display: grid;
    gap: 24px;
    width: 578px;
}
.customer-title{
font-weight: 500;
font-style: Medium;
font-size: 64px;
line-height: 140%;
letter-spacing: 0px;
}
.customer-subtitle{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #707070;
}
.left-text{
    display: grid;
    gap: 12px;
}
.left-box{
    display: grid;
    gap: 52px;
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
    border-radius: 40px;
    padding-left:25px ;
    padding-right:25px ;
    padding-bottom: 37px;
    max-height: 436px;
}
.left-box::before{
     content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('images/box-bg.jpg') no-repeat center/cover;
  opacity: 30%;
  z-index: -1;
  border-radius: 40px;
}
.left-box-title{
font-weight: 600;
font-size: 22px;
line-height: 140%;
letter-spacing: 0px;
margin-bottom: 4px;
}
.left-box-para{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
color: #A4A4A4;
}
.left-box-img{
    position: relative;
    height: 210px;
}
.box-img-1{
    position: absolute;
}
.box-img-2{
    position: absolute;
    left: 25%;
    top: 60px;
}
.box-img-3{
    position: absolute;
    left: 55%;
    bottom: 20px;
}
.box-img-4{
    position: absolute;
    left: 70%;
    top: 80px;
}
.right{
    display: grid;
    grid-template-columns: repeat(2, 317px 281px);
    gap: 16px;
}
.right-group-1 , .right-group-2{
    display: grid;
    gap: 16px;
}
.right-box-1{
    background: #F2F2F2;
    border: 1px solid #000000;
    border-radius: 20px;
    
    padding: 24px;
}
.cicrle{
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.profile-1{
    width: 200px;
    justify-self: right;
}
.name{
    display: flex;
    align-items: center;
    gap: 12px;
    justify-self: right;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;
width: 100%;
margin-bottom: 10px;
}
.password{
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
color: #FFFFFF;
background-color: #24806F;
width: 100%;
height: 53px;
justify-self: right;
border-radius: 5.47px;
display: flex;
align-items: center;
justify-content: center;
}
.profile-2{
    display: grid;
    gap: 8px;
}
.name-2{
    display: flex;
    align-items: center;
    gap: 12px;
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;

}
.profile-2-box{
    padding: 18px;
font-weight: 400;
font-size: 12px;
line-height: 140%;
letter-spacing: 0%;
color: #606060;
background-color: #FFFFFF;
border-radius: 5.47px;
}
.right-box-1{
    display: grid;
    gap: 20px;
}
.right-box-1-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;

}
.right-box-1-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
color: #606060;
}
.right-box-1-text{
    display: grid;
    gap: 4px;
}
.right-box-2{
    background: #000000;
    color: #FFFFFF;
    padding: 23px;
    border-radius: 20px;
    display: grid;
    gap: 12px;
}
.right-box-2-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-2-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-2-text{
    display: grid;
    gap: 4px;
}
.right-box-2-img{
    width: max-content;
    height: max-content;
    display: flex;
    align-items: center;
    justify-self: center;
}
.right-box-3{
    background: #ACEBDF;
    border-radius: 20px;
    display: grid;
    gap: 64px;
    padding: 20px;
    
}
.right-box-3-text{
    display: grid;
    gap: 4px;
    height: fit-content;
}
.right-box-3-title{
font-weight: 600;
font-size: 24px;
line-height: 140%;
letter-spacing: 0px;
height: max-content;
}
.right-box-3-para{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 0px;
height: max-content;
}
.right-box-3-img {
    display: inline-block;
    position: relative;
}
.right-box-3-img img {
  display: block;
  width: 100%;
  height: auto;
}

.right-box-3-img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 62.81%,
    #ACEBDF 100%
  );

  pointer-events: none;
}
.right-box-4{
    background-color: #24806F;
    border-radius: 20px;
    padding: 24px;
    color: #FFFFFF;
    display: grid;
    gap: 16px;
    justify-items: center;
    position: relative;
}
.percent-circle::after{
    content: "";
    border: 15px white solid;
    border-radius: 50%;
    width: 192px;
    height: 192px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

     mask: conic-gradient(
        from 5deg,
        #24806f5e 0% 12%,
        rgb(0, 0, 0) 12% 100%
    );
    position: relative;
    
 
}
.percent, .percent-sub{
 position: absolute;
}
.percent{
    font-family: "IBM Plex Sans", sans-serif;
font-weight: 700;
font-size: 41.92px;
line-height: 100%;
letter-spacing: -1%;
text-align: center;
vertical-align: middle;
justify-self: center;
top: 80px;

}

.percent-sub{
    text-align: center;
   font-family: "IBM Plex Sans", sans-serif;
font-weight: 700;
font-size: 12.33px;
line-height: 19.73px;
letter-spacing: 1.85px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
top: 125px;
right: 80px;
}
.right-box-4-text{
    display: grid;
    gap: 4px;
}
.right-box-4-title{
font-weight: 600;
font-size: 20px;
line-height: 140%;
letter-spacing: 0px;
}
.right-box-4-para{
font-weight: 400;
font-size: 16px;
line-height: 140%;
letter-spacing: 0px;

}
.customer-title span{
  background: #AEEDE3;
  padding: 0.1em ;
  border-radius: 20px;

  -webkit-box-decoration-break:clone;
  box-decoration-break:clone;
}
.customer-title img{
    vertical-align: bottom;
}


           /* creative */

.creative{
    margin-top: 140px;
    margin-bottom: 140px;
}
.creative-title{
font-weight: 500;
font-style: Medium;
font-size: 48px;
line-height: 140%;
letter-spacing: -2%;
text-align: center;
vertical-align: middle;
max-width: 832px;
text-align: center;
justify-self: center;
    margin-bottom: 11px;
}
.creative-container{
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

.creative-mind{
    width: 392px;
}
.creative-text{
    background-color: #24806F;
    border-radius: 20px;
    padding:  24px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #FFFFFF;

    display: grid;
    gap: 16px;
}
.man-title{
font-weight: 400;
font-size: 24px;
line-height: 140%;
letter-spacing: 0%;
vertical-align: middle;

}
.man-desc{
font-weight: 400;
font-size: 18px;
line-height: 140%;
letter-spacing: 1%;
vertical-align: middle;
}
.details{
font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 1%;
text-align: center;
vertical-align: middle;
border: 1px solid #FFFFFF;
border-radius: 100px;
padding: 12px;
}
.man-img{
position: relative;
top: 20px;

}

/* template */
.template{
    margin-top: 140px;
    margin-bottom: 140px;
}
.template-container{
    display: flex;
    gap: 16px;
}
.template-title{
font-weight: 500;
font-style: Medium;
font-size: 64px;
line-height: 140%;
letter-spacing: 0px;
height: fit-content;
}
.template-title span{
    background: #AEEDE3;
  padding: 0.1em ;
  border-radius: 20px;
}
.temp-left{
    display: grid;
    gap: 58px;
    padding-top: 14px;
    padding-bottom: 14px;
    height: fit-content;
}
.tags{
    display: grid;
    gap: 16px;
}
.tags-top, .tags-bottom{
    display: flex;
    gap: 16px;
}
.tag{
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0px;
border: 1px solid #1D1D21;
border-radius: 100px;
padding: 12px 24px;
width: max-content;
}




/* responsive */

@media (max-width:1260px){
    .nav-bar, .container{
        padding-left: 10px;
        padding-right: 10px;
    }
     .tools-title{
        text-align: center;
    }
 .big-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 .small-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }
  .big-box-img,.small-box-img, .big-box, .black-box, .small-box-img img, .big-box-img img{
    width: 100%;
 }
.customer-container{
       grid-template-columns: repeat(1, 100%);
       justify-self: center;
       
    }
    .left, .right{
        width: 100%;
    }
    .right{
        grid-template-columns: repeat(1, 100%);
    }
    .right-box-2, .right-box-3, .right-box-4{
        display: flex;
    gap: 12px;
    justify-content: space-between;
    }
    .percent-sub{
        top: 128px;
    right: 52px;
    }
    .percent-circle{
        position: relative;
    }
}

@media (max-width:1000px) {
    
    .nav-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px; 
        left: 85%;
        transform: translateX(-50%);
        width: 30%;
        height: auto;
        padding: 20px;
        gap: 20px;
        border-radius: 8px;
        align-items: flex-start;
    }
    .nav-menu.show {
        display: flex;
        z-index: 100;
    }
    .nav-toggle {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
    }
    .hero{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .hero-title{
        font-size: 88px;
    }
    .project-title{
        font-size: 38px;
        width: 450px;
    }
    .project-no{
        font-size: 16px;
    }
    .project-name{
        font-size: 38px;
    }
    .podcast{
        font-size: 16px;
    }
    .podcast img{
        width: 24px;
    }
    
}

@media (max-width:776px) {
    .project-img{
        display: none;
        opacity: 0;
    }
    .creative{
    margin-top: 20px;
    margin-bottom: 20px;
}
.creative-container{
    gap: 5px;
}
}

@media (max-width:576px) {
   .nav-bar{
    margin-top: 10px;
   }
    .nav-menu{
        font-size: 14px;
        padding: 10px;
        min-width: 100px;
    }
    .logo{
        width: 150px;
    }
    .logo img{
        width: 150px;
    }
    .nav-btn{
           display: none;
    }
     .hero-title{
        font-size: 40px;
     }
     .hero-sub{
         margin-top: 16px;
    margin-bottom: 24px;
     }
     .hero-sub h3{
        font-size: 24px;
     }
    
     .tools-title{
        font-size: 28px;
     }
     .tools p{
        font-size: 16px;
     }

     .project-title{
        font-size: 28px;
        padding: 15px;
        margin-bottom: 20px;
        width: max-content;
        height: max-content;
     }
     .project-container{
        padding-top: 15px;
        padding-bottom: 20px;
     }
     .project-name{
        font-size: 24px;
     }
     .project-no, .podcast{
        font-size: 14px;
     }
     .customer-container{
        padding-top: 20px;
    padding-bottom: 20px;

     }
     .customer-title{
        font-size: 28px;
        text-align: center;
     }
     .customer-title img{
        width: 90px;
     }
     .customer-subtitle{
        font-size: 16px;
        text-align: center;
     }
     .left-box img{
        width: 100px;
        display: flex;

     }
     .right-box-2-img img{
        width: 100%;
     }
     .right-box-2, .right-box-3, .right-box-4{
        flex-direction: column;
     }
     .left-box{
        gap: 4px;
     }
     .left-box-title{
        font-size: 20px;
     }
     .left-box-para{
        font-size: 13px;
     }
     .box-img-2{
        left: 15%;
    top: 65px;
}
     
     .box-img-3{
        left: 47%;
     }
     .right-box-1-title, .right-box-2-title, .right-box-3-title, .right-box-4-title {
        font-size: 20px;
     }
     .right-box-1-para, .right-box-2-para, .right-box-3-para, .right-box-4-para{
            font-size: 13px;
     }
     .percent{    left: 10%;
}
.percent-sub{
    right: 62%;
}
.creative-title{
    font-size: 32px;
}
.man-title{
    font-size: 20px;
}
.man-desc, .details{
    font-size: 14px;
}

}

@media (max-width:450px) {
    .project-grid{
        gap: 8px;
    }
    .project-container{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .project-title{
        font-size: 22px;
    }
    .project-name{
        font-size: 20px;
    }
    .number-title{
        gap: 12px;
    }
    .project-no{
      font-size: 12px;
      padding: 10px;
    }
    .podcast{
        font-size: 12px;
    }
    .podcast img{
        width: 16px;
    }
    .percent-sub{
   right: 55%;
}

.creative-mind, .man-img {
    width: 100%;
}

}


@media (max-width:370px) {
     .percent-sub{
   right: 37%;
}
.percent{
            left: 20%;
}
}